.rating {
  display: flex;
  gap: 6px;

  &__star {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    background: #e3e3e3;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%,
      79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }

  .is_on {
    background: #ff6060;
  }
}