@use "../variables" as v;

.footer {
  background-color: v.$color-footer-bg;
  color: v.$color-muted;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 29px; // espace entre logo et texte
  }

  &__logo {
    margin-top: 50px;
    width: 122px;
    height: 39px;
    display: block;
  }

  &__text {
    font-size: 24px; // à ajuster si tu veux coller exactement à la maquette
    font-weight: 500;
  }
}

@media (max-width: v.$bp-md) {
  .footer {
    padding-block: 32px;

    &__text {
      font-size: 12px;
      max-width: 200px;
      line-height: 1.4;
    }
  }
}
