/* _layout.scss (global) */
:root {
  --container-max: 1240px;
}

.container {
  max-width: var(--container-max);
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
}

/* Pour éviter les surprises de largeur */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
} /* ceinture de sécurité */
